include "input.kdl"
include "startup.kdl"
include "windowrules.kdl"
include "keybindings.kdl"
include "animations.kdl"

output "eDP-1" {
	mode "1920x1080@60"
	scale 1.1
	transform  "normal"
	position x=1280 y=0
}

layout {
	gaps 3
	background-color "transparent"
	center-focused-column "never"
	preset-column-widths {
		proportion 0.33333
		proportion 0.5
		proportion 0.66667
	}
	default-column-width { proportion 0.5; }
	focus-ring {
		width 2
		active-color "#7aa2f7"
		inactive-color "#414868"
	}
	border {
	  width 1
	  active-color "#7aa2f7"
	  inactive-color "#414868"
	  urgent-color "#9b0000"
	}
	shadow{
	  on
	}
	tab-indicator {
	  width 7 
	  gap 0 
	  length total-proportion=1.0
	  position "left"
	  place-within-column
	}
}

overview {
	zoom 1
    backdrop-color "#26233a"
	workspace-shadow {
    off
  }
}

recent-windows {

  highlight {
    active-color "#7aa2f7"
    urgent-color "#9b0000"
    padding 10
    corner-radius 10
  }
}

layer-rule {
	match namespace="^wallpaper$"
	place-within-backdrop true 
}


prefer-no-csd
cursor {
	hide-when-typing
	hide-after-inactive-ms 5000
}
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

hotkey-overlay{
	skip-at-startup
}
environment{
	QT_QPA_PLATFORMTHEME "qt6ct"
	QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
	QT_AUTO_SCREEN_SCALE_FACTOR "1"
	QT_STYLE_OVERRIDE "kvantum"
	ELECTRON_OZONE_PLATFORM_HINT "auto"
}

debug {
  honor-xdg-activation-with-invalid-serial
}

switch-events {
	lid-close {spawn "systemctl hibernate "; }
}
