
// Open Maximized 
window-rule{
  match app-id="code"
  match app-id="kdenlive"
  open-maximized true 
}

// Open on Browse
window-rule {
  match app-id="brave"
  match app-id="firefox"
  match app-id="chromium"
  open-on-workspace "Browse" 
}

// Open on Code 
window-rule{
  match app-id="GitHub Desktop"
  open-on-workspace "Code"
}

// Open as Floating
window-rule {
  match app-id="xfce-polkit" 
  open-floating true
  default-floating-position x=728 y=400 relative-to="bottom-left"
}

// Picture in Picture
window-rule {
  match title="Picture in picture"
  match title="Picture-in-Picture"
  open-floating true
  default-floating-position x=32 y=32 relative-to="bottom-left"
}

window-rule {
  geometry-corner-radius 3
  clip-to-geometry true
}

// window rules for opacity
window-rule{
  match app-id="^foot$"
  match app-id="^helium$"
  background-effect {
    blur true 
  }
}


window-rule {
  match app-id="^dev\\.zed\\.Zed$"
  match app-id="dev.zed.Zed"
  match app-id="^kitty$"
  match app-id="Alacritty"

  match app-id="nemo"
  background-effect{
    blur true
  }
  opacity 0.9
}

window-rule {
  match app-id="chromium"
  match app-id="helium"
  match app-id="GitHub Desktop"
  opacity 0.9
}

// layer rules for opacity 
layer-rule {
  match namespace="^anyrun$"
  match namespace="^waybar$"
  opacity 0.95
}
