window-rule {
	geometry-corner-radius 3
	clip-to-geometry true
}
window-rule{
	match app-id="code"
	open-maximized true 
}

window-rule {
	match app-id="firefox$" title="^Picture-in-Picture$"
	open-floating true
	default-floating-position x=32 y=32 relative-to="bottom-left"
}

window-rule {
  match app-id="firefox"
  open-on-workspace "Explore"
  opacity 0.95
}

window-rule {
	match app-id="xfce-polkit" 
	open-floating true
	default-floating-position x=728 y=400 relative-to="bottom-left"
}

window-rule {
	match app-id="zen$" title="^Picture-in-Picture$"
	open-floating true
	default-floating-position x=32 y=32 relative-to="bottom-left"	
}

window-rule {
	match app-id="kdenlive"
	open-maximized true
}

window-rule {
	match app-id="nemo"
	opacity 0.9
}

window-rule {
	match title="Picture in picture"
	open-floating true 
	default-floating-position x=32 y=32 relative-to="bottom-left"
}

window-rule {
	match app-id="Alacritty"
	max-height 300
}

window-rule{
  match app-id="^foot$"

  background-effect {
    blur true 
  }
}

layer-rule {
  match namespace="^launcher$"

  background-effect{
    blur true 
  }
  opacity 0.9
}

window-rule {
    match app-id="GitHub Desktop"
    opacity 0.95
}

layer-rule {
    match namespace="^anyrun$"
    opacity 0.95
}

window-rule {
    match app-id="^zed$"
    opacity 0.4
}

window-rule {
    match app-id="^dev\\.zed\\.Zed$"
    opacity 0.9
}

window-rule {
    match app-id="^kitty$"
    opacity 0.9
}

layer-rule {
    match namespace="^waybar$"
    opacity 0.9
}

window-rule {
    match app-id="chromium"
    opacity 0.95
}

