* {
    border: none;
    border-radius: 10px;
    font-family: "Cousine Nerd Font";
    font-size: 13px;
    font-weight: bold;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: #D3C6AA;
}

tooltip {
    background: #272E33;
    opacity: 0.8;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #414B50;
}

tooltip label {
    color: #D3C6AA;
}

#workspaces button {
    padding: 5px;
    color: #A7C080;
    margin-right: 5px;
}

#workspaces button.active {
    color: #D3C6AA;
}

#workspaces button.focused {
    color: #D3C6AA;
    background: #414B50;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: #272E33;
    background: #E67E80;
    border-radius: 10px;
}

#workspaces button:hover {
    background: #495156;
    color: #D3C6AA;
    border-radius: 10px;
}

#workspaces,
#taskbar,
#clock,
#custom-pomodoro,
#network,
#pulseaudio,
#backlight,
#battery,
#tray {
    background: #272E33;
    padding: 0px 8px;
    margin-bottom: 3px;
}

#network,
#pulseaudio,
#backlight,
#battery {
    border-radius: 0;
    border-top: 2px solid #414B50;
    border-bottom: 2px solid #414B50;
    border-left: none;
    border-right: none;
}

#cpu,
#custom-screenshot,
#workspaces{
    border-radius: 10px 0px 0px 10px;
    border-top: 2px solid #414B50;
    border-bottom: 2px solid #414B50;
    border-left: 2px solid #414B50;
    border-right: none;
}
#network{
    border-radius: 0px 0px 0px 0px;
}

#taskbar {
    border-radius: 0 10px 10px 0;
    border-top: 2px solid #414B50;
    border-bottom: 2px solid #414B50;
    border-right: 2px solid #414B50;
    border-left: none;
}

#tray {
    border-radius: 0 10px 10px 0;
    margin-right: 10px;
    border-top: 2px solid #414B50;
    border-bottom: 2px solid #414B50;
    border-right: 2px solid #414B50;
    border-left: none;
}

#clock {
    border-radius: 10px;
    color: #7FBBB3;
    border: 2px solid #414B50;
}

#workspaces,
#custom-screenshot {
    margin-left: 10px;
}

#custom-lock_screen,
#clock {
    margin-right: 10px;
}

#temperature.critical {
    color: #E67E80;
}

#workspaces {
    padding-right: 0px;
    padding-left: 5px;
}

#custom-power_profile {
    color: #A7C080;
    border-left: 0px;
    border-right: 0px;
}

#window {
    border-radius: 10px;
}

#pulseaudio {
    color: #DBBC7F;
}

#pulseaudio.microphone {
    color: #83C092;
    border-left: 0px;
    border-right: 0px;
}

#battery {
    color: #A7C080;
    border-left: 0px;
}

#taskbar button:hover {
    background: #383E4A;
}

#network {
    color: #7FBBB3;
}

#backlight {
    color: #D699B6;
}

#custom-pomodoro {
    color: #E67E80;
    margin-right: 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top: 2px solid #414B50;
    border-bottom: 2px solid #414B50;
    border-left: 2px solid #414B50;
    border-right: none;
}

#temperature {
    color: #83C092;
}

#memory {
    color: #7FBBB3;
}


@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}