* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: #eeeeee;
}

tooltip {
    background: #000000;
    opacity: 0.8;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #11111b;
}

tooltip label{
    color: #eeeeee;
}

#workspaces button {
    padding: 5px;
    color: #313244;
    margin-right: 5px;
}

#workspaces button.active {
    color: #a6adc8;
}

#workspaces button.focused {
    color: #a6adc8;
    background: #eba0ac;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: #11111b;
    background: #a6e3a1;
    border-radius: 10px;
}

#workspaces button:hover {
    background: #000000;
    color: #eeeeee;
    border-radius: 10px;
}


#custom-lock_screen,
#custom-light_dark,
#custom-power_btn,
#custom-power_profile,
#battery,
#custom-weather,
#custom-myhyprv,
#window,
#taskbar,
#cpu,
#disk,
#custom-updates,
#memory,
#clock,
#pulseaudio,
#network,
#tray,
#temperature,
#workspaces,
#backlight {
    background: #111111;
    opacity: 0.8;
    padding: 0px 10px;
    margin: 3px 0px;
    margin-top: 5px;
    border: 0px;
}

#tray, #custom-lock_screen, #temperature,#memory , #cpu , #network,#backlight {
    border-radius: 10px 0px 0px 10px;
}


#workspaces, #taskbar{
   border-radius: 10px 10px 10px 10px;
   margin-right: 10px;
}
#custom-light_dark, #custom-power_btn,#clock, #pulseaudio.microphone, #battery, #disk,#pulseaudio {
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px;
}

#custom-launch_wofi {
    border-radius:10px 10px 10px 10px ;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 5px;
    
    

}

#temperature.critical {
    color: #e92d4d;
}


#workspaces {
    padding-right: 0px;
    padding-left: 5px;
}

#custom-power_profile {
    color: #a6e3a1;
    border-left: 0px;
    border-right: 0px;
}

#window {
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

#custom-launch_wofi {
    color: #40A2E3;
    margin-left: 5px;
    border-right: 0px;
}

#pulseaudio {
    color: #40a2e3;
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio.microphone {
    color: #DC84F3;
    border-left: 0px;
    border-right: 0px;
}

#battery {
    color: #65B741;
    border-left: 0px;
}

#taskbar button:hover{
    background: #000000;
}
