layout {
  pane split_direction="vertical" {
	pane  {
	  pane name="api gateway"{
		command "npm"
		args "run" "dev"
		cwd "~/upstride-backend/api-gateway"
	  }
	  pane name="identity service"{
		command "npm"
		args "run" "dev"
		cwd "~/upstride-backend/identity-service"
	  }
	  pane name="mail service"{
		cwd "~/upstride-backend/mail-service"
	  }
	  pane name="article service"{
		cwd "~/upstride-backend/article-service"
		command "npm"
		args "run" "dev"
	  }
	  pane name="chat service"{
		cwd "~/upstride-backend/chat-service"
        command "npm"
        args "run" "dev"
	  }
	}
	pane { 
	  pane name="notification service"{
		cwd "~/upstride-backend/notification-service"
		command "npm"
		args "run" "dev"
	  }
	  pane name="sessions service" {
		cwd "~/upstride-backend/sessions-service"
	  }
	  pane name="media service" {
		command "npm"
		args "run" "dev"
		cwd "~/upstride-backend/media-service"
	  }
	  pane name="frontend"{
		command "npm"
		args "run" "dev"
		cwd "~/upstride-frontend"
	  }
	}
  }
}


